.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__layout {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__nav {
    height: 5rem;
  }

  &__main {
    height: 100%;
  }
}
