.workspace {
  height: 100%;

  &__layout {
    height: inherit;
    display: grid;
    grid-template-columns: [canvas-start] 1fr [canvas-end right-bar-start] 25rem [right-bar-end];
    grid-template-rows:
      [canvas-start] 1fr [canvas-end bottom-bar-start] min-content
      [bottom-bar-end];
  }

  &__canvas {
    grid-column-start: canvas-start;
    grid-column-end: canvas-end;
    grid-row: 1 / -1;
  }

  &__right-bar {
    grid-column-start: right-bar-start;
    grid-column-end: right-bar-end;
    grid-row-start: canvas-start;
    grid-row-end: canvas-end;
  }

  &__bottom-bar {
    grid-column-start: canvas-start;
    grid-column-end: right-bar-end;
    grid-row-start: bottom-bar-start;
    grid-row-end: bottom-bar-end;
  }
}
